.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
}

.error {
  color: red;
}

.result {
  margin-top: 20px;
  text-align: left;
}

.profile-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer; /* Optional: Adds a pointer cursor on hover */
}

form {
  display: flex;
  flex-direction: column;
}